<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Workout</title>
</head>
<body>

<div class="container mt-4">
    <h2>Create Workout Plan</h2>

    <form th:action="@{/workouts/create}" method="post">
        <input type="text" name="title" class="form-control mb-3" placeholder="Workout Title">

        <select name="difficulty" class="form-select mb-3">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>

</body>
</html>